<div class="card card-body">
  <ol>
    <% @posts.each do |post| %>
      <li><a href="<%= post.link %>" id="post-title"><%= post.title %></a></li>
      <small class="text-muted"><%= image_tag "up-arrow.png", :id => "arrow" %> <%= post.points %> | <%= post.created_at %></small>
    <% end %>
  </ol>
</div>
