<!DOCTYPE html>
<html>
  <head>
    <title>Hacker News</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-secondary mt-4">
        <div class="row ml-1">
          <a href="/"><%= image_tag "y18.gif", :id => "y" %></a>
          <a href="/" id="hackernews" class="mr-1">Hacker News</a> | new | comments | show | ask | jobs | <%= link_to "submit", new_post_path, :class => "ml-1 text-black" %>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
